

/*****---------- 1.1 subsection of the first tab ----------*****/

body{
	color: red;
	font-family: Times serif;
	font: bold;
	font-size: 2em;
	width: 100%;
	text-align: center;
	text-decoration: ghostwhite;
}
/**------------- 1.1.1 Subsubsection -------------**/

blockquote{
	color: #FF9A85;
	font-family: fantasy;
	font: oblique;
	width: 100%;
	text-overflow: ellipsis;

}

div {
	text-decoration: azure;
	border-bottom: beige;
	fill: crimson;
	font: larger;
	color: aqua;
}