/*

[Table of Contents]

1. Section
	1.1 Subsection
		1.1.1 Subsubsection
2. new page
	2.1 Subsection
	2.2 Subsection

*/



/*************** 1. First tab ***************/

.class{
	color: #FF9A85;
	font-family: Times;
	width: 100%;
}
/*****---------- 1.1 subsection of the first tab ----------*****/

body{
	color: #FF9A85;
	font-family: fantasy;
	font: oblique;
	width: 100%;
}
/**------------- 1.1.1 Subsubsection -------------**/

blockquote{
	color: #FF9A85;
	font-family: fantasy;
	font: oblique;
	width: 100%;

}

/*************** 2. new page ***************/


.class{
	color: #FF9A85;
	font-family: Times;
	width: 100%;
}

/*****---------- 2.1 Subsection ----------*****/

body{
	color: #FF9A85;
	font-family: fantasy;
	font: oblique;
	width: 100%;
}

/*****---------- 2.2 Subsection ----------*****/

blockquote{
	color: #FF9A85;
	font-family: fantasy;
	font: oblique;
	width: 100%;

}